/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family-2);
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
  }
  html::-webkit-scrollbar {
    width: 15px;
    border-radius: 4px;
  }
  html::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
  }

/* variables */
:root{
    --main-color: #54372a;
    --second-color: #df582e;
    --text-color: #060413;
    --container-color: #e8d8cd;
    --bg-color: #fff8f7;
    --text-alter-color: #94908e;
    --poppins-font:"Poppins", sans-serif;
    --font-family-2: "Playfair Display", serif;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

.container{
    max-width: 1060px;
    margin: auto;
    width: 100%;
}

/*!  header */

header{
    position: fixed;
    top: 20px;
    left: 0;
    width: 100%;
    z-index: 100;
}

.nav{
    background: var(--text-color);
    padding: 17px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 32px;
}

.logo{
    color: var(--container-color);
    font-weight: 700;
    font-size: 23px;
}

.navbar{
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.nav-link{
    color: var(--text-alter-color);
    font-size: 14px;
    font-family: var(--poppins-font);
    transition: 0.4s all ease-in-out;
}

.nav-link:hover{
    color: var(--bg-color);
}

.nav-icons{
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.nav-icons .bx{
    color: var(--bg-color);
    font-size: 20px;
}

#menu-icon{
    display: none;
}

/*! home */
.home {
    min-height: 650px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 24px;
}
.home-img{
    width: 100%;
    max-width: 560px;
}

.home-text h1{
    font-size: 56px;
    font-weight: 800;
    color: var(--main-color);
}
.home-text p{
    max-width: 300px;
    font-size: 15px;
    font-family: var(--poppins-font);
    margin: 16px 0 24px;
}

.btn{
    background-color: var(--text-color);
    max-width: 160px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    border-radius: 16px;
}

.btn span{
    color: var(--bg-color);
    text-transform: uppercase;
    font-family: var(--poppins-font);

}
.btn .bx{
    color: var(--bg-color);
    font-size: 20px;
    background-color: var(--second-color);
    padding: 5px;
    border-radius: 50%;
    transform: rotate(-40deg);
}

/* ! services  */
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 32px 0;
}

.heading h2{
    font-size: 36px;
    font-weight: 800;
}

.service-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 160px)) ;
    justify-content: space-between;
    gap: 16px;

}

.ser-box{
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    padding: 35px 20px;
    border-radius: 32px;
}

.ser-box img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.ser-box p{
    color: var(--container-color) ;
}

/* ! products */
.products .heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.heading p{
    max-width: 550px;
    width: 100%;
    font-size: 15px;
    font-family: var(--poppins-font);
}

.product-content{
    background: #e8d8cd;
    display: grid;
    grid-template-columns: repeat(3, 250px);
    padding: 40px 60px;
    border-radius: 24px;
    gap: 32px;
    justify-content: space-between;

}

.product-box{
    background-color: var(--bg-color);
    padding: 20px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.product-box .heart-icon{
    position: absolute;
    left: 20px;
    top: 20px;
    background: #fff;
    padding: 8px;
    border-radius: 50%;
    color: var(--second-color);


}


.product-box img{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit:cover ;
}

.product-box p{
    font-size: 13px;
    font-weight: 500;
    font-family: var(--poppins-font);
    border: 1px solid var(--text-alter-color) ;
    padding: 2px 7px;
    border-radius: 16px;
    margin: 16px  8px;
}

.product-box h2{
    color: var(--main-color);
    font-size: 21px;
    font-weight: 500;
}

.product-info{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 32px;
}

.product-info span{
    color: var(--main-color);
    font-weight: 500;
}
.product-info .bx{
    background: var(--second-color);
    padding: 8px;
    color: var(--bg-color);
    border-radius: 50%;
    cursor: pointer;  
    transition: all 0.4s;
}

.product-info .bx:hover{
    background: var(--main-color) ;

}

/* ! team  */
.team-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px,auto));
    gap: 24px;
}

.team-box img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.team-box h2{
    font-size: 15px;
    font-weight: 500;
    font-family: var(--poppins-font);
    margin-top: 16px;
}

.team-box span{
    font-size: 10px;
    font-family: var(--poppins-font);
    color: var(--text-alter-color);
}
.team-box p{
    font-size: 13px;
    font-family: var(--poppins-font);
    margin-top: 10px;
}

/* ! review */
.reviews{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}
.review-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--container-color);
    padding: 10px;
    border-radius: 6px;

}
.review-box img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 4px 16px rgb(68, 68, 68);
    border: 7px solid #fff;
}
.review-box h2{
    font-size: 16px;
    color: var(--main-color);
    font-family: var(--poppins-font);
    font-weight: 500;
    margin: 16px 0;
}
.review-box span{
    font-size: 23px;
    font-weight: 700;
    color: var(--main-color);
}
.review-box p{
    font-family: var(--poppins-font);
    font-size: 12px;
    margin-top: 16px;
    letter-spacing: 1.5px;
    max-width: 500px;
}

/* ! Book */
.book{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    position: relative;
}
.book-img{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    z-index: -1;
    object-fit: cover;
}
.book-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    border-radius: 16px;
    z-index: -1;
}
.book-data{
    margin-top: 64px;
}
.book-data h2{
    color: var(--bg-color);
    font-size: 32px;
    text-align: center;
    font-weight: 700;
}
.book-data form{
    display: flex;
    align-items: center;
    gap: 10px;
    background: var(--bg-color);
    padding: 2px 10px;
    margin: 16px 0;
    border-radius: 32px;
}
.input-box{
    display: flex;
    align-items: center;
    column-gap: 5px;
}
.input-box .bx{
    color: var(--text-color);
}
.input-box input{
    width: 100%;
    border: none;
    outline: none;
    padding: 15px 0;
    background: var(--bg-color);
}
.book-btn{
    white-space: nowrap; /* yazının taşan kısmının alt satırdan devam etmesi yerine yanından devam etmesini sağlar. */
    padding: 10px 14px;
    background: var(--main-color);
    color: var(--bg-color);
    border: none;
    border-radius: 40px;
    font-size: 13px;
    transition: all 0.4s;
}
.book-btn:hover{
    background-color: var(--second-color);
    cursor: pointer;
}
.book-data p{
    font-size: 13px;
    color: var(--bg-color);
    text-align: center;
    font-weight: 500;
}
/* ! Footer */
footer {
    display: grid;
    grid-template-columns: repeat(4, auto);
    margin-top: 48px !important;
    padding: 48px 0 32px;
  }
  footer .logo {
    color: var(--main-color);
  }
  .social {
    display: flex;
    margin-top: 16px;
    gap: 16px;
    align-items: center;
  }
  .social a {
    color: var(--main-color);
    font-size: 24px;
  }
  .social a:hover {
    color: var(--second-color);
  }
  .footer-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .footer-box h3 {
    font-size: 18px;
    font-weight: 400;
    color: var(--main-color);
    margin-top: 16px;
  }
  
  .footer-box a {
    color: var(--main-color);
  }
  .copyright {
    padding: 30px;
    text-align: center;
    color: var(--main-color);
  }






/* ! Responsive */
@media (max-width: 1080px) {
    .container {
        width: 90%;
    }
    .product-content{
        padding: 40px;
    }

}
@media (max-width: 875px) {
    .reviews{
        grid-template-columns: repeat(2, 1fr);
    }

}
@media (max-width: 770px) {
    .home{
        min-height: 500px;
        grid-template-columns: 1fr;
        margin-top: 82px;
    }
    .home-text{
        order: 1;
    }
    .heading h2{
        font-size: 26px;
    }
    .product-content{
        grid-template-columns: repeat(2 1fr);
    }
    .reviews{
        grid-template-columns: 1fr;
    }
    .book {
        padding: 20px;
      }
      .book-data {
        margin-top: 48px;
        max-width: 350px;
        width: 100%;
      }
      .book-data form {
        display: grid;
        padding: 15px;
        border-radius: 15px;
      }
      footer {
        grid-template-columns: repeat(3, auto);
      }
    
    }

    


@media (max-width: 700px) {
    header{
        top: 15px;
    }

    .nav{
        padding: 14px 20px;
    }
    .logo{
        font-size: 20px;
    }
    .navbar{
        display: none;
    }
    #menu-icon{
        display: block;
    }

}
@media (max-width: 500px) {
    .service-content{
        justify-content: center;
    }
    .product-content{
        grid-template-columns: 1fr;
        padding: 20px;

    }
    footer {
        grid-template-columns: 1fr;
      }
}
@media (max-width: 380px) {

}